.tribe-events-header .tribe-daystrip-container {
    display: none;
}
.tribe-events-header .tribe-daystrip-container.full-width {
    width: 100%;
    margin-top: 1em;
}
.tribe-common--breakpoint-medium.tribe-common .tribe-events-header .tribe-daystrip-container {
    line-height: 1.1;
    display: flex;
    flex: auto;
    justify-content: space-between;
}
.tribe-events-header .tribe-daystrip-container .tribe-daystrip-day {
    text-align: center;
    padding: 10px 5px;
    word-wrap: normal;
    flex-grow: 1;
}
.tribe-events-header .tribe-daystrip-container .tribe-daystrip-day:nth-child(n+2) {
    border-left: 1px solid #d5d5d5;
}
.tribe-daystrip-day span {
    display: block;
    text-align: center;
}
.tribe-daystrip-dayname {
    font-size: 0.7em;
    overflow: hidden;
    text-transform: uppercase;
}
.tribe-daystrip-date {

}
.tribe-events-header .tribe-daystrip-day.tribe-daystrip-past a {
    color: #898b93;
}
.tribe-daystrip-day.tribe-daystrip-current {
    background-color: #eee;
}
.tribe-daystrip-day.tribe-daystrip-today {
    font-weight: bold;
}
.tribe-events .tribe-events-calendar-day__daystrip-events-icon--event {
    display: inline-block;
    background-color: #334aff;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}
