.tribe-common .tribe-daystrip__container {
    display: none;
}
.tribe-common .tribe-daystrip__container--full-width {
    width: 100%;
    margin-top: 1em;
}
.tribe-common--breakpoint-medium .tribe-daystrip__container {
    line-height: 1.1;
    display: flex;
    flex: auto;
    justify-content: space-between;
}

.tribe-common .tribe-daystrip__day {
    text-align: center;
    padding: 10px 5px;
    word-wrap: normal;
    flex-grow: 1;
}
.tribe-common .tribe-daystrip__day--current {
    background-color: var(--tec-color-background-secondary);
}
.tribe-common .tribe-daystrip__day--today {
    font-weight: bold;
}
.tribe-common .tribe-daystrip__day:nth-child(n+2) {
    border-left: 1px solid car(--tec-color-border-default);
}
.tribe-common .tribe-daystrip__day--past a {
    color: var(--tec-color-text-primary-light);
}
.tribe-common .tribe-daystrip__day span {
    display: block;
    text-align: center;
}
.tribe-common .tribe-daystrip__day-name {
    font-size: 0.7em;
    overflow: hidden;
    text-transform: uppercase;
}
.tribe-common .tribe-daystrip__event-icon {
    display: inline-block;
    background-color: var(--tec-color-accent-primary);
    border-radius: 50%;
    height: 8px;
    width: 8px;
}
